version 15.1X49-D130.6;
groups {
    DENY-ALL {
        security {
            policies {
                from-zone <*> to-zone <*> {
                    policy DENY-LOG {
                        match {
                            source-address any;
                            destination-address any;
                            application any;
                        }
                        then {
                            deny;
                            log {
                                session-init;
                                session-close;
                            }
                            count;
                        }
                    }
                }
            }
        }
    }
    PERMIT-ANY {
        security {
            policies {
                from-zone <*> to-zone <*> {
                    policy PERMIT-ANY-OUT {
                        match {
                            source-address any;
                            destination-address any;
                            application any;
                        }
                        then {
                            permit;
                        }
                    }
                }
            }
        }
    }
}
apply-groups DENY-ALL;
system {
    host-name {{ yamlVar.hostname }};
    auto-snapshot;
    domain-name {{ yamlVar.domain_name }};
    time-zone {{ yamlVar.timezone }};
    internet-options {
        tcp-mss 1460;
    }
    authentication-order [ tacplus password ];
    ports {
        console log-out-on-disconnect;
    }
    root-authentication {
        encrypted-password "$1$hEHpzx66$jsxzT9EaK2YuQNdx8MYSS/"; ## SECRET-DATA
    }
    name-server {
        {% for nameServer in yamlVar.dns -%}
        {{ nameServer }};
        {% endfor %}
    }
    tacplus-server {
            {% for tacacs in yamlVar.tacacs -%}
                {{ tacacs }} {
            secret "$9$USHPQ/Cu01hqmORSy8Ldbs4oGjHmzF/.PIcyr8LNdbsYoGUHm5F4ajqm5/9"; ## SECRET-DATA
            single-connection;
            source-address 192.168.1.1;
        }
      {% endfor -%}
    }
    accounting {
        events [ login change-log interactive-commands ];
        destination {
            tacplus {
                server {
                    {% for tacacs in yamlVar.tacacs -%}
                        {{ tacacs }} {
                        secret "$9$qfF/uORESeTzhrvM-d24aUDkmfz9CuQFyKMW-ds24aJDkqfznCUjmTznu0"; ## SECRET-DATA
                        single-connection;
                    }
                {% endfor -%}
                }
            }
        }
    }
    scripts {
        op {
            file show-zone-for-ip.slax;
        }
    }
    login {
        retry-options {
            tries-before-disconnect 5;
            backoff-threshold 3;
            backoff-factor 10;
            lockout-period 4;
        }
        class admin {
            permissions all;
        }
        {% for users in yamlVar.users -%}
        user {{ users.user.username }} {
            full-name "{{ users.user.fullName }}";
            uid {{ users.user.UID  }};
            class {{ users.user.class }};
            authentication {
                {% if 'ssh-rsa' in users.user.authentication -%}
                ssh-rsa "{{ users.user.authentication }}";
                }
            }
                {% else -%}
                encrypted-password "{{ users.user.authentication }}";

            }
        }
                {% endif -%}
        {% endfor -%}
    }
    services {
    {% if yamlVar.ssh == true -%}
        ssh;
    {% endif -%}
    {% if yamlVar.netconf == true -%}
        netconf {
            ssh {
            port 830;
            }
        }
    {% endif -%}
    {% if yamlVar.rest_http == true -%}
        rest {
            http {
                port 3000;
            }
            enable-explorer;
        }
    {% endif -%}
    {% if yamlVar.rest_https == true -%}
    rest {
        https {
            port 3000;
        }
        enable-explorer;
    }
    {% endif -%}
    {% if yamlVar.web_http == true -%}
    web-management {
        http;
    {% endif -%}
    {% if yamlVar.web_https == true -%}
        web-management {
            https {
                port 443;
                system-generated-certificate;
            }
        }
    }
    {% endif -%}
    syslog {
        archive size 500k files 3;
        user * {
            any emergency;
        }
        file MESSAGE.log {
            any error;
        }
        file FIREWALL.log {
            firewall any;
        }
        file DENIED-TRAFFIC.log {
            any any;
            match RT_FLOW_SESSION_DENY;
        }
        file SCREEN.log {
            any any;
            match RT_SCREEN_;
            structured-data {
                brief;
            }
        }
        file DAEMON.log {
            daemon info;
        }
        file GOOGLE.log {
            any any;
            match 8.8.8.8;
        }
        file INTERNET-SESSION.log {
            any any;
            match RT_FLOW_;
            structured-data {
                brief;
            }
        }
        file INTERACTIVE-COMMANDS {
            interactive-commands error;
        }
    }
    max-configurations-on-flash 5;
    max-configuration-rollbacks 49;
    ntp {
        {% for ntp in yamlVar.ntp -%}
        server {{ ntp }} version 4;
        {% endfor -%}
    }
}
{% for probes in yamlVar.rpm -%}
{% if probes.probe.enabled == true -%}
services {
    rpm {
        probe {{ probes.probe.probeName }} {
            test {{ probes.probe.testName }} {
                target address {{ probes.probe.target }};
                probe-count {{ probes.probe.probeCount }};
                probe-interval {{ probes.probe.probeInterval }};
                test-interval {{ probes.probe.testInterval }};
                thresholds {
                    successive-loss {{ probes.probe.thrSuccessiveLoss }};
                    total-loss {{ probes.probe.thrTotalLoss }};
                }
                {% if probes.probe.rpmTrap == true -%}
                {% set snmpTrapList = [] %}
                {% for snmpTraps in probes.probe.traps -%}
                {% set _ = snmpTrapList.append(snmpTraps) -%}
                {% endfor -%}
                {% endif -%}
                traps [ {{ snmpTrapList|join(' ') }} ];
            }
        }
    }
{% endif -%}
{% endfor -%}
}
security {
    alarms {
        potential-violation {
            authentication 3;
        }
    }
    ssh-known-hosts {
        host 192.168.1.12 {
            ecdsa-sha2-nistp256-key AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBC8mRXQZD4eQfsYhtF+j8CnUxHbP1atSAYTRd+3eHyezRlhwD6zTfk9nxqOc+OMYccVLqViYjnsAwha+H+pwejY=;
        }
    }
    address-book {
        {% for policies in yamlVar.policies -%}
        {% if 'srcAddress' in policies.term -%}
        {{ policies.term.fromZone|upper }} {
        {% endif -%}
        {% for address in policies.term.srcAddress -%}
        {% if '/32' in address -%}
            address H-{{ address | replace('/', '-')}} {{ address }};
        {% else -%}
            address N-{{ address | replace('/', '-')}} {{ address }};
        {% endif -%}
        {% endfor -%}
            attach {
                zone {{ policies.term.fromZone }};
            }
    }
            {% endfor -%}

        {% for policies in yamlVar.policies -%}
        {% if 'dstAddress' in policies.term -%}
        {{ policies.term.toZone|upper }} {
        {% endif -%}
        {% for address in policies.term.dstAddress -%}
        {% if '/32' in address -%}
            address H-{{ address | replace('/', '-')}} {{ address }};
        {% else -%}
            address N-{{ address | replace('/', '-')}} {{ address }};
        {% endif -%}
        {% endfor -%}
            attach {
                zone {{ policies.term.toZone }};
            }
        }
        {% endfor -%}
}
    alg {
        dns {
            maximum-message-length 4096;
            doctoring {
                sanity-check;
            }
        }
        ftp ftps-extension;
    }
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
        }
    }
    flow {
        inactive: traceoptions {
            file TRACE.log size 3m files 2;
            flag basic-datapath;
            packet-filter A {
                source-prefix 85.255.236.193/32;
                destination-port 443;
            }
            packet-filter B {
                destination-prefix 85.255.236.193/32;
                source-port 443;
            }
        }
        syn-flood-protection-mode syn-cookie;
        aging {
            early-ageout 600;
            low-watermark 6;
            high-watermark 80;
        }
        tcp-mss {
            all-tcp {
                mss 1460;
            }
            ipsec-vpn {
                mss 1379;
            }
        }
        tcp-session {
            fin-invalidate-session;
            strict-syn-check;
        }
    }
    screen {
        ids-option UNTRUST-SCREEN {
            icmp {
                ip-sweep threshold 1000;
                fragment;
                large;
                flood threshold 200;
                ping-death;
            }
            ip {
                bad-option;
                record-route-option;
                timestamp-option;
                security-option;
                stream-option;
                spoofing;
                source-route-option;
                loose-source-route-option;
                strict-source-route-option;
                unknown-protocol;
                tear-drop;
            }
            tcp {
                syn-fin;
                fin-no-ack;
                tcp-no-flag;
                syn-frag;
                port-scan threshold 1000;
                syn-ack-ack-proxy threshold 500;
                syn-flood {
                    alarm-threshold 500;
                    attack-threshold 50;
                    source-threshold 100;
                    destination-threshold 1000;
                    timeout 10;
                }
                land;
                winnuke;
                tcp-sweep threshold 1000;
            }
            udp {
                flood threshold 1500;
                udp-sweep threshold 1000;
            }
            limit-session {
                destination-ip-based 1000;
            }
        }
    }
    nat {
        source {
            rule-set TRUST-TO-UNTRUST {
                from zone [ RI_255 TRUST junos-host ];
                to zone UNTRUST;
                rule source-nat-rule {
                    match {
                        source-address [ 127.0.0.0/8 192.168.0.0/16 ];
                        destination-address 0.0.0.0/0;
                    }
                    then {
                        source-nat {
                            interface;
                        }
                    }
                }
            }
        }
        destination {
            {% for dnat in yamlVar.dnat -%}
            {% set origPort = dnat.rule.port.split('/') %}
            pool {{ dnat.rule.poolName }} {
                address {{ dnat.rule.address }} port {{ origPort[0] }};
            }
            {% endfor -%}
            rule-set DNAT {
            {% for dnat in yamlVar.dnat -%}
            {% set realPort = dnat.rule.port.split('/') %}
                from zone {{ dnat.rule.fromZone }};
                rule {{ dnat.rule.poolName }} {
                    match {
                        source-address {{ dnat.rule.from }};
                        destination-address {{ dnat.rule.to }};
                        destination-port {
                            {{ realPort[1] }};
                        }
                    }
                    then {
                        destination-nat {
                            pool {
                                {{ dnat.rule.poolName }};
                            }
                        }
                    }
                }
            {% endfor -%}
        }
    }
}
policies {
    from-zone TRUST to-zone UNTRUST {
        apply-groups PERMIT-ANY;
    }
    {% for policies in yamlVar.policies -%}
    from-zone {{ policies.term.fromZone }} to-zone {{ policies.term.toZone}} {
        policy {{ policies.term.request }} {
            match {
                {% for address in policies.term.srcAddress -%}
                {% if '/32' in address -%}
                    source-address H-{{ address | replace('/', '-')}};
                    {% elif '0.0.0.0/0' not in address -%}
                    source-address N-{{ address | replace('/', '-')}};
                {% endif -%}
                {% if '0.0.0.0/0' in policies.term.srcAddress -%}
                    source-address any;
                {% endif -%}
                {% endfor -%}
                {% for address in policies.term.dstAddress -%}
                {% if '/32' in address -%}
                    destination-address H-{{ address | replace('/', '-')}};
                    {% elif '0.0.0.0/0' not in address -%}
                    destination-address N-{{ address | replace('/', '-')}};
                {% endif -%}
                {% if '0.0.0.0/0' in policies.term.dstAddress -%}
                    destination-address any;
                {% endif -%}
                {% endfor -%}
                {% set applicationList = [] -%}
                {% for app in policies.term.port -%}
                {% if 'junos' in app -%}
                {% set _ = applicationList.append(app) -%}
                {% endif -%}
                {% if 'junos' not in app-%}
                {% if 'tcp' in policies.term.protocol -%}
                {% set _ = applicationList.append('TCP-' + app) -%}
                {% endif -%}
                {% if 'udp' in policies.term.protocol -%}
                {% set _ = applicationList.append('UDP-' + app) -%}
                {% endif -%}
                {% endif -%}
                {% endfor -%}
                application [ {{ applicationList | join(' ') }} ]
                }
            then {
                permit;
            }
        }
    }
        {% endfor %}
    from-zone TRUST to-zone junos-host {
        apply-groups PERMIT-ANY;
    }
    from-zone junos-host to-zone TRUST {
        apply-groups PERMIT-ANY;
    }
    from-zone junos-host to-zone UNTRUST {
        apply-groups PERMIT-ANY;
    }
    from-zone RI_255 to-zone UNTRUST {
        apply-groups PERMIT-ANY;
    }
    from-zone TRUST to-zone TRUST {
        apply-groups PERMIT-ANY;
    }
    policy-rematch;
}
zones {
    {% for zones in yamlVar.zones -%}
    security-zone {{ zones.zone.name }} {
        tcp-rst;
        {% if zones.zone.screen == true -%}
        screen UNTRUST-SCREEN;
        {% endif -%}
        host-inbound-traffic {
        {% if 'systemServices' in zones.zone -%}
            {% for service in zones.zone.systemServices -%}
            system-services {
                {{ service }};
            {% endfor -%}
            }
        {% endif-%}
        }
        {% for interf in zones.zone.interfaces -%}
        interfaces {
            {{ interf }};
        {% endfor -%}
            }
        }
    {% endfor -%}
    }
}
interfaces {
    {% for interf in yamlVar.interfaces -%}
    {{ interf.int.name }}{
    {% if interf.int.enabled == false -%}
            disable;
        }
    {% endif -%}
        {% if interf.int.enabled == true -%}
        description {{ interf.int.description }};
        {% for uts in interf.int.units -%}
        unit {{ uts.unit }} {
            {% for faimilyInet in uts.family -%}
            {% if 'inet4' in faimilyInet -%}
            family inet {
            {% if uts.filterIn != false-%}
            filter {
                input {{ uts.filterIn }};
                }
            {% endif -%}
                address {{ uts.inet4 }};
                }
            {% endif -%}
            {% if 'inet6' in faimilyInet -%}
            family inet6 {
                address {{ uts.inet6 }};
                }
            {% endif -%}
            {% if 'ethernet-switching' in faimilyInet -%}
            family ethernet-switching {
                interface-mode {{ uts.mode }};
                {% set vlanList = [] %}
                vlan {
                    {% for vlan in uts.vlans -%}
                    {% set _ = vlanList.append(vlan) -%}
                    {% endfor -%}
                    members [ {{ vlanList|join(' ') }} ];
                 }
              }
    {% endif -%}
    {% endfor -%}
    }
    {% endfor -%}
    }
    {% endif -%}
    {% endfor-%}
    }
snmp {
    location "{{ yamlVar.snmpLocation }}";
    contact "{{ yamlVar.snmpContact }}";
    view all {
        oid .1;
    }
    community {{ yamlVar.snmpComunity }} {
        view all;
        clients {
            {{ yamlVar.snmpAcl }};
        }
    }
}
forwarding-options {
    hash-key {
        family inet {
            layer-3;
        }
    }
}
accounting-options {
    file router.prf {
        files 5;
    }
    routing-engine-profile router-profile {
        file router.prf;
        interval 1;
        fields {
            time-of-day;
            total-cpu-usage;
        }
    }
}
routing-options {
    static {
        route 0.0.0.0/0 next-hop 10.0.0.1;
    }
}
protocols {
    l2-learning {
        global-mode switching;
    }
    lldp {
        advertisement-interval 30;
        transmit-delay 2;
        hold-multiplier 5;
        interface all;
    }
    rstp {
        interface all;
    }
}
firewall {
    filter COPP {
        {% for terms in yamlVar.COPP -%}
        term {{ terms.term.name }} {
        {% if 'icmp' in terms.term.protocol -%}
        {% if 'code' in terms.term -%}
    from {
        protocol icmp
        icmp-code {{ terms.term.code }};
        {% endif -%}
        {% endif -%}
            {% if 'from' in terms.term -%}
            from {
                source-address {
                    {% for srcAddr in terms.term.from -%}
                    {{ srcAddr }};
                    {% endfor -%}
                }
                {% endif -%}
                {% if 'protocol' in terms.term and 'icmp' not in terms.term.protocol-%}
                protocol {{ terms.term.protocol }};
                {% endif -%}
                {% if 'sourcePorts' in terms.term -%}
                {% for srcPort in terms.term.sourcePorts -%}
                source-port {{ srcPort }};
                {% endfor -%}
                {% endif -%}
                {% set dstPortList = [] -%}
                {% for dstPort in terms.term.destinationPorts -%}
                {% set _ = dstPortList.append(dstPort)-%}
                {% endfor -%}
                {% if 'destinationPorts' in terms.term -%}
                destination-port [ {{ dstPortList|join(' ') }} ];
                {% endif -%}
            }
            then {
                {% if terms.term.count == true -%}
                count COPP-{{ terms.term.name|upper }};
                {% endif -%}
                {{ terms.term.action }};
            }
        }
        {% endfor -%}
    term DENY-ANY {
        then {
            count COPP-DENY;
            log;
            syslog;
            discard;
            }
        }
    }
}
applications {
    {% for ports in yamlVar.policies -%}
    {% for app in ports.term.port -%}
    {% if 'junos-' not in app -%}
    {% if 'tcp/udp' in ports.term.protocol or 'udp/tcp' in ports.term.protocol -%}
    application TCP-{{ app }} {
        protocol tcp;
        destination-port {{ app }};
    }
    application UDP-{{ app }} {
        protocol udp;
        destination-port {{ app }};
    }
    {% else -%}
    application {{ ports.term.protocol|upper }}-{{ app }} {
        protocol {{ ports.term.protocol }};
        destination-port {{ app }};
    }
    {% endif %}{% endif %}{% endfor %}{% endfor %}
}
vlans {
    {% for vln in yamlVar.vlans -%}
    {{ vln.vlan.name }} {
            vlan-id {{ vln.vlan.vlanid }};
            {% if vln.vlan.layer3 == true -%}
            l3-interface {{ vln.vlan.interface }};
    }
    {% endif %}{% endfor %}
}
